extensions:
	console	: Kdyby\Console\DI\ConsoleExtension
	websockets : IPub\WebSockets\DI\WebSocketsExtension
	websocketsZMQ : IPub\WebSockets\DI\WebSocketsZMQExtension

services:
	- IPubTests\WebSocketsZMQ\Libraries\Application
